[submodule "CVPZ.Core"]
	path = CVPZ.Core
	url = git@github.com:SouthSoundDevelopers/CVPZ.Core.git
	branch = master
[submodule "CVPZ.WebUI"]
	path = CVPZ.WebUI
	url = git@github.com:SouthSoundDevelopers/CVPZ.WebUI.git
	branch = master
